body{
    background-color: #001632;
}
h1{
    color:  #808b99;
}
h2{
    color: #fffff5;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    
}
.password-result{
    background-color: #cff4fc;
    padding: 5px;
    border-radius: 10px; 
 }
 .password-result p{
    margin-left: 10px;
    
 }